<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: select_trivia.html
    Description: Choose a quiz
-->
<include href="views/header.html"></include>


<!-- Main Content -->
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center" id="color-box">
            <h4>Select a Trivia Quiz to Take</h4>
            <img id="arrow-img" src="images/white_arrow.png" alt="down arrow pic">
        </div>
        <button id="show">Go</button>
    </div>


    <div class="row mt-4">
        <!-- Display Quizzes -->
        <div id="result"></div>

        <div class="col-md-4">
            <a href="selectTrivia" class="d-block">
                <div class="box text-center box1">Trivia Quizzes</div>
            </a>
        </div>


    </div>
</div>

</body>
<script src="//code.jquery.com/jquery.js"></script>

<script>
    $("#show").click(function(){

        // Make an Ajax call to a PHP script
        $("#result").load("views/select/lookup.php");

    });

</script>
</html>