<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: choice.html
    Description: Choose a quiz to create
-->
<include href="views/header_template.html"></include>

<!-- Main Content -->
<div class="row mt-4">
    <!-- Create a Personality Quiz -->
    <div class="col-md-6">
        <a href="addPersonalityTitle">
            <div class="box box1">Create a Personality Quiz</div>
        </a>
    </div>
    <!-- Create a Trivia Quiz -->
    <div class="col-md-6">
        <a href="addTriviaTitle">
            <div class="box box2">Create a Trivia Quiz</div>
        </a>
    </div>
</div>

</body>
</html>