<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: confirmation.html
    Description: Confirmation page after submitting quiz questions
-->
<include href="views/header_template.html"></include>

<!-- Main Content -->
<div class="confirm m-4 p-3 text-center">
    <h1 class="pb-2">Quiz Questions Submitted Successfully!</h1>
    <p>Thank you for creating a trivia quiz. Your quiz have been submitted successfully!</p>
    <p>You can now <a class="font_size" href="selectTrivia">select a quiz</a> to view your created quiz.</p>
</div>

</body>
</html>
