<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: trivia_questions.html
    Description: Create the trivia questions
-->
<include href="views/header.html"></include>



<!-- Main Content -->
<section id="quizForm">
<div class="row mt-4">
    <div class="col-md-12">
        <div class="create">
            <h1>Create Trivia Quiz Questions</h1><hr>
            <form action="#" method="post">

                    <!-- Quiz Title Input -->
                <div class="question">
                    <div class="question-title-container">
                        <label for="questionTitle">Question Title:</label>
                        <input class="question-title" type="text" id="questionTitle" placeholder="Enter question title">
                    </div>

                    <div class="question-container ml-3">
                        <label for="question1Option1">Option Title:</label>
                        <input class="question-text" type="text" id="question1Option1" placeholder="Enter option title1"><input class="question-radio" type="radio" name="question" id="question1" value="question1"></input><br>
                    </div>

                    <div class="question-container">
                        <label for="question1Option2">Option Title:</label>
                        <input class="question-text" type="text" id="question1Option2" placeholder="Enter option title2"><input class="question-radio" type="radio" name="question" id="question2" value="question2"></input><br>
                    </div>

                    <div>
                        <button class="question-button" type="button" onclick="addOption()">Add Option</button>
                    </div>
                </div>


                <button class="question-button" type="button" onclick="addQuestion()">Add Question</button>


            </form>
        </div>
    </div>
</div>
    <script>
        function addQuestion() {
            // Create a new div element for the question
            var newQuestionDiv = document.createElement('div');
            newQuestionDiv.className = 'question';

            // Copy the question title container
            var questionTitleContainer = document.querySelector('.question-title-container').cloneNode(true);
            newQuestionDiv.appendChild(questionTitleContainer);

            // Copy the first option container
            var optionContainer1 = document.querySelector('.question-container.ml-3').cloneNode(true);
            newQuestionDiv.appendChild(optionContainer1);

            // Copy the second option container
            var optionContainer2 = document.querySelector('.question-container').cloneNode(true);
            newQuestionDiv.appendChild(optionContainer2);

            // Create a new div element for the button
            var buttonContainer = document.createElement('div');
            buttonContainer.innerHTML = '<button class="question-button" type="button" onclick="addOption()">Add Option</button>';

            // Append the button container to the new question div
            newQuestionDiv.appendChild(buttonContainer);

            // Find the element after which you want to insert the new question div
            var h1Element = document.querySelector('.question');

            // Insert the new question div after the h1 element
            h1Element.parentNode.insertBefore(newQuestionDiv, h1Element.nextSibling);
        }


        function addOption() {
            // Add your logic for handling the "Add Question" button click
            // For now, let's just log a message to the console
            console.log("Add Question button clicked!");
        }
    </script>



</section>

</body>
</html>
