<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: trivia_questions.html
    Description: Create the trivia questions
-->
<include href="views/header_template.html"></include>

<!-- Main Content -->
<check if="{{ isset(@errors['quiz_questions']) }}">
    <div class="row m-4 p-2 q-error">
        <p class="err">{{ @errors['quiz_questions'] }}</p>
        <p class="err">{{ @errors['quiz_questions_errors'] }}</p>
    </div>
</check>


<section id="quizForm">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="create">
                <h1>Create Trivia Quiz Questions</h1><hr>
                <form action="#" method="post">

                    <!-- Quiz Title Input -->
                    <div class="questions">
                        <div class="question">
                            <div class="question-title-container">
                                <label for="questionTitle1">Question 1 Title:</label>
                                <input class="question-title" type="text" name="question_title1" id="questionTitle1" placeholder="Enter question title">
                            </div>

                            <div class="question-container ml-3">
                                <label for="question1Option1">Option Title:</label>
                                <input class="question-text" type="text" name="question1_text1" id="question1Option1" placeholder="Enter option title1">
                                <input class="question-radio" type="radio" name="question1_radio1" id="question1Radio1" value="option1"></input><br>
                            </div>

                            <div class="question-container">
                                <label for="question1Option2">Option Title:</label>
                                <input class="question-text" type="text" name="question1_text2" id="question1Option2" placeholder="Enter option title2">
                                <input class="question-radio" type="radio" name="question1_radio1" id="question1Radio2" value="option2"></input><br>
                            </div>

                            <div>
                                <button class="question-button" type="button" onclick="addOption(this)">Add Option</button>
                            </div>
                        </div>
                    </div>



                    <button class="question-button question-float-left" type="button" onclick="addQuestion()">Add Question</button>
                    <button class="question-button question-float-right">Finish Quiz</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        let questionCounter = 1;  // Initialize a counter for questions
        let groupCounter = 1;      // Initialize a counter for question groups

        function addQuestion() {
            // Increment the question and group counters
            questionCounter++;
            groupCounter++;

            // Create a new div element for the question
            let newQuestionDiv = document.createElement('div');
            newQuestionDiv.className = 'question';

            // Copy the question title container
            let questionTitleContainer = document.querySelector('.question-title-container').cloneNode(true);

            // Update the id and label for the question title input
            let questionTitleInput = questionTitleContainer.querySelector('.question-title');
            let questionTitleLabel = questionTitleContainer.querySelector('label');

            questionTitleInput.id = 'questionTitle' + questionCounter;
            questionTitleLabel.setAttribute('for', 'questionTitle' + questionCounter);
            questionTitleLabel.innerText = 'Question ' + questionCounter + ' Title:';

            // Increment the number in the name attribute of the question title input
            questionTitleInput.name = 'question_title' + questionCounter;

            newQuestionDiv.appendChild(questionTitleContainer);

            // Create a new option container 1
            let optionContainer1 = document.createElement('div');
            optionContainer1.className = 'question-container ml-3';
            optionContainer1.innerHTML = '<label for="question' + questionCounter + 'Option1">Option Title:</label>' +
                '<input class="question-text" type="text" name="question' + questionCounter + '_text1" id="question' + questionCounter + 'Option1" placeholder="Enter option title1">' +
                '<input class="question-radio" type="radio" name="question' + questionCounter + '_radio' + questionCounter + '" id="question' + questionCounter + 'Radio1" value="option' + (groupCounter - 1) + '">';

            newQuestionDiv.appendChild(optionContainer1);

            // Create a new option container 2
            let optionContainer2 = document.createElement('div');
            optionContainer2.className = 'question-container';
            optionContainer2.innerHTML = '<label for="question' + questionCounter + 'Option2">Option Title:</label>' +
                '<input class="question-text" type="text" name="question' + questionCounter + '_text2" id="question' + questionCounter + 'Option2" placeholder="Enter option title2">' +
                '<input class="question-radio" type="radio" name="question' + questionCounter + '_radio' + questionCounter + '" id="question' + questionCounter + 'Radio2" value="option' + groupCounter + '">';

            newQuestionDiv.appendChild(optionContainer2);

            // Create a new div element for the button
            let buttonContainer = document.createElement('div');
            buttonContainer.innerHTML = '<button class="question-button" type="button" onclick="addOption(this)">Add Option</button>';

            // Append the button container to the new question div
            newQuestionDiv.appendChild(buttonContainer);

            // Find the element with the class "questions" and append the new question div to it
            let questionsContainer = document.querySelector('.questions');
            questionsContainer.appendChild(newQuestionDiv);
        }

        function addOption(button) {
            let currentQuestion = button.closest('.question');

            if (currentQuestion) {
                // Count the number of existing options to determine the index for the new option
                let existingOptions = currentQuestion.querySelectorAll('.question-container');
                let newIndex = existingOptions.length + 1;

                let newOptionContainer = document.createElement('div');
                newOptionContainer.className = 'question-container';

                // Get the question number from the current question title
                let questionTitleContainer = currentQuestion.querySelector('.question-title-container');
                let questionTitleLabel = questionTitleContainer ? questionTitleContainer.querySelector('label') : null;
                let questionNumber = questionTitleLabel ? questionTitleLabel.getAttribute('for').match(/\d+/) : '';
                questionNumber = questionNumber ? questionNumber[0] : '';

                // Create new input fields for the option
                let newOptionLabel = document.createElement('label');
                newOptionLabel.setAttribute('for', `question${questionNumber}Option${newIndex}`);
                newOptionLabel.textContent = 'Option Title:';

                let newOptionInput = document.createElement('input');
                newOptionInput.className = 'question-text';
                newOptionInput.type = 'text';
                newOptionInput.name = `question${questionNumber}_text${newIndex}`;
                newOptionInput.id = `question${questionNumber}Option${newIndex}`;
                newOptionInput.placeholder = `Enter option title${newIndex}`;  // Incremented placeholder

                let newOptionRadio = document.createElement('input');
                newOptionRadio.className = 'question-radio';
                newOptionRadio.type = 'radio';
                newOptionRadio.name = `question${questionNumber}_radio${questionNumber}`;
                newOptionRadio.id = `question${questionNumber}Radio${newIndex}`;
                newOptionRadio.value = `option${newIndex}`;

                // Append the new input fields to the container
                newOptionContainer.appendChild(newOptionLabel);
                newOptionContainer.appendChild(newOptionInput);
                newOptionContainer.appendChild(newOptionRadio);

                // Insert the new option container before the button's parent node
                currentQuestion.insertBefore(newOptionContainer, button.parentNode);
            } else {
                console.error('Error: Unable to find the parent question container.');
            }
        }
    </script>


</section>
</body>
</html>
