<!--
    Authors: Noah Lanctot, Lois Lanctot
    File: select_trivia.html
    Description: Quiz selection page to choose which one to take
-->
<include href="views/header_template.html"></include>

<!-- Main Content -->
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center" id="color-box">
            <h4>Select a Trivia Quiz to Take</h4>
            <img id="arrow-img" src="images/white_arrow.png" alt="down arrow pic">
        </div>
    </div>

    <div class="row mt-4">
        <!-- Display Quizzes -->
        <repeat group="{{ @titles }}" value="{{ @title }}">
            <div class="col-md-4 mb-4">
                <a href="takeQuiz">
                    <div class="box text-center box1 p-4">
                        <h1 class="link">{{ @title.title }}</h1>
                        <p>{{ @title.description }}</p>
                    </div>
                </a>
            </div>
        </repeat>

    </div>
</div>

</body>
</html>