.img-logo {
    width: 120px;
}

header {
    background-color: #4B4237;
}

body {
    width: 100%;
    background: url("../images/chocolate_donut.jpeg") no-repeat fixed center center;
    background-size: cover;
}

.navbar {
    background-color: #363028;
}

.box {
    padding: 100px;
    margin: 20px;
    text-align: center;
}

#box1 {
    background-color: #f7e1d7;
}

#box2 {
    background-color: #edafb8;
}

#box3 {
    background-color: #f7e1d7;
}

#color-box {
    margin: 150px 50px 100px;
    color: white;
}

h1 {
    font-family: Luminari, fantasy;
}

#arrow-img {
    width: 30px;
}